In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import tensorflow as tf
from tensorflow import keras
import sklearn

In [2]:
pd_BS = pd.read_csv(r'C:\Users\Γιώργος\Desktop\THESIS\PYTHON\DATA\BsTest.csv')
X = pd_BS.to_numpy()

inputs_BS = np.array(X[:,:4])
outputs_BS = np.array(X[:,4])
pd_BS.head()

        mns       tau         r     sigma       V/K
0  1.590163  0.888092  0.054842  0.262597  0.639821
1  1.385022  0.959522  0.082605  0.165499  0.461592
2  0.436090  0.415409  0.021017  0.417887  0.000056
3  0.897337  0.386878  0.092519  0.675848  0.123521
4  0.678262  0.947873  0.096074  0.157999  0.001229

In [3]:
pd_IV = pd.read_csv(r'C:\Users\Γιώργος\Desktop\THESIS\PYTHON\DATA\IvTest.csv')
pd_IV.head()
X_IV = pd_IV.to_numpy()

outputs_IV =   np.array(X_IV[:,3])

inputs_IV = np.delete(X_IV,4, axis = 1)
pd_IV.head()

        mns       tau         r     sigma       V/K
0  1.392623  0.776319  0.043553  0.436368  0.436368
1  1.238767  0.851717  0.078256  0.308680  0.308680
2  0.527068  0.277376  0.001272  0.000149  0.000149
3  0.873002  0.247260  0.090648  0.080202  0.080202
4  0.708696  0.839421  0.095092  0.004126  0.004126

In [4]:
BSmodel1 = keras.models.load_model('BSmodel1.h5')
BSmodel2 = keras.models.load_model('BSmodel2.h5')
BSmodel3 = keras.models.load_model('BSmodel3.h5')

In [5]:
IVmodel1 = keras.models.load_model('IVmodel1.h5')
IVmodel2 = keras.models.load_model('IVmodel2.h5')
IVmodel3 = keras.models.load_model('IVmodel3.h5')

In [6]:
BSmodelnew = keras.models.load_model('BSmodelnew.h5')

In [7]:
BSresults1 = BSmodel1.evaluate(inputs_BS, outputs_BS)
BSresults2 = BSmodel2.evaluate(inputs_BS, outputs_BS)
BSresults3 = BSmodel3.evaluate(inputs_BS, outputs_BS)


print("mean square error from rank1 ANN :", BSresults1[0])
print("mean square error from rank2 ANN :", BSresults2[0])
print("mean square error from rank3 ANN :", BSresults3[0])

6250/6250 [==============================] - 9s 1ms/step - loss: 8.9430e-08 - accuracy: 0.0148
6250/6250 [==============================] - 9s 1ms/step - loss: 1.3423e-07 - accuracy: 0.0148
6250/6250 [==============================] - 9s 1ms/step - loss: 1.0519e-05 - accuracy: 0.0148
mean square error from rank1 ANN : 8.942976847947648e-08
mean square error from rank2 ANN : 1.3422854294731223e-07
mean square error from rank3 ANN : 1.0518808267079294e-05

In [19]:
BSresultsnew = BSmodelnew.evaluate(inputs_BS , outputs_BS)

6250/6250 [==============================] - 7s 1ms/step - loss: 1.3663e-07 - accuracy: 0.0148

In [18]:
IVresults1 = IVmodel1.evaluate(inputs_IV, outputs_IV)
IVresults2 = IVmodel2.evaluate(inputs_IV, outputs_IV)
IVresults3 = IVmodel3.evaluate(inputs_IV, outputs_IV)


print("mean square error from rank1 ANN :", IVresults1[0])
print("mean square error from rank2 ANN :", IVresults2[0])
print("mean square error from rank3 ANN :", IVresults3[0])

6250/6250 [==============================] - 13s 2ms/step - loss: 1.0065e-08 - accuracy: 0.0046
6250/6250 [==============================] - 14s 2ms/step - loss: 4.1523e-08 - accuracy: 0.0046
6250/6250 [==============================] - 10s 2ms/step - loss: 2.4645e-08 - accuracy: 0.0046
mean square error from rank1 ANN : 1.0064770350481922e-08
mean square error from rank2 ANN : 4.152289179160107e-08
mean square error from rank3 ANN : 2.4644853269251144e-08

In [7]:
##########################################
### Different metrics ####################
###  MSE ,RMSE, MAPE, PE5, PE10
##########################################

In [23]:
##################################################################
#PEX: percentage of observations within +-X% of the actual price.#
##################################################################

In [24]:
def PEX_metrics(y_true, y_pred, X):
    K = 0
    n = len(y_true)
    for i in range(n):
        if(np.abs(y_true[i] - y_pred[i])<= X/100):
            K = K+1
    results = K/n *100
    return(results)

In [8]:
M = np.zeros((7, 5))
M[0,0] = 8.9430e-08 #rank 1
M[1,0] = 1.3423e-07 #rank 2
M[2,0] = 1.0519e-05 #rank 3
M[3,0] = 1.3663e-07 #rank new
M[4,0] = 1.0065e-08 #IV rank 1
M[5,0] = 4.1523e-08 #   rank 2
M[6,0] = 2.4645e-08 #   rank 3

In [9]:
M[:,1] = np.sqrt(M[:,0])

In [10]:
BSresults1 = BSmodel1.predict(inputs_BS)
BSresults2 = BSmodel2.predict(inputs_BS)
BSresults3 = BSmodel3.predict(inputs_BS)

In [11]:
BSresultsnew = BSmodelnew.predict(inputs_BS)

In [12]:
IVresults1 = IVmodel1.predict(inputs_IV)
IVresults2 = IVmodel2.predict(inputs_IV)
IVresults3 = IVmodel3.predict(inputs_IV)

In [21]:
####
##MAPE : Mean absolute percentage error
#######################################

m = tf.keras.metrics.MeanAbsoluteError()

m.update_state(BSresults1, outputs_BS)
M[0,2] = m.result().numpy()

m.update_state(BSresults2, outputs_BS)
M[1,2] = m.result().numpy()

m.update_state(BSresults3, outputs_BS)
M[2,2] = m.result().numpy()

m.update_state(BSresultsnew, outputs_BS)
M[3,2] = m.result().numpy()

m.update_state(IVresults1, outputs_IV)
M[4,2] = m.result().numpy()

m.update_state(IVresults2, outputs_IV)
M[5,2] = m.result().numpy()

m.update_state(IVresults3, outputs_IV)
M[6,2] = m.result().numpy()

In [22]:
M[:,2]

array([0.0002341 , 0.00023868, 0.00108115, 0.00087968, 0.00071777,
       0.00062831, 0.0005555 ])

In [25]:
###########
#####PE0.05
####

In [38]:
M[0,3] = PEX_metrics(BSresults1, outputs_BS, 0.05)

M[1,3] = PEX_metrics(BSresults2, outputs_BS, 0.05)

M[2,3] = PEX_metrics(BSresults3, outputs_BS, 0.05)

M[3,3] = PEX_metrics(BSresultsnew, outputs_BS, 0.05)

M[4,3] = PEX_metrics(IVresults1, outputs_IV, 0.05)

M[5,3] = PEX_metrics(IVresults2, outputs_IV, 0.05)

M[6,3] = PEX_metrics(IVresults3, outputs_IV, 0.05)

In [36]:
###########
#####PE0.1
####

In [39]:
M[0,4] = PEX_metrics(BSresults1, outputs_BS, 0.1)

M[1,4] = PEX_metrics(BSresults2, outputs_BS, 0.1)

M[2,4] = PEX_metrics(BSresults3, outputs_BS, 0.1)

M[3,4] = PEX_metrics(BSresultsnew, outputs_BS, 0.1)

M[4,4] = PEX_metrics(IVresults1, outputs_IV, 0.1)

M[5,4] = PEX_metrics(IVresults2, outputs_IV, 0.1)

M[6,4] = PEX_metrics(IVresults3, outputs_IV, 0.1)

In [42]:
##

In [44]:
Error = pd.DataFrame(M, columns = ("MSE", "RMSE","MAPE", "PE 0.05", "PE 0.1"))
Error

            MSE      RMSE      MAPE  PE 0.05   PE 0.1
0  8.943000e-08  0.000299  0.000234  90.7695  99.8945
1  1.342300e-07  0.000366  0.000239  89.9990  98.4755
2  1.051900e-05  0.003243  0.001081  14.3860  22.5330
3  1.366300e-07  0.000370  0.000880  83.2565  98.7360
4  1.006500e-08  0.000100  0.000718  99.9850  99.9985
5  4.152300e-08  0.000204  0.000628  99.7430  99.9995
6  2.464500e-08  0.000157  0.000555  99.9685  99.9990